In [1]:
import pandas as pd

In [7]:
names = ['Park', 'Borough', 'Size\(Acres\)', 'Category', 'Murder', 'Rape', 'Robbery', 'Felony Assault', 'Burglary', 'Grand Larceny', 'Grand Larceny of Motor Vehicle', 'Total']
pd.read_csv('nyccrimetest.csv')

,PARK,BOROUGH,SIZE (ACRES),CATEGORY,MURDER,RAPE,ROBBERY,FELONY ASSAULT,BURGLARY,GRAND LARCENY,GRAND LARCENY OF MOTOR VEHICLE,TOTAL
0,PELHAM BAY PARK,BRONX,2771.747,ONE ACRE OR LARGER,0,0,1,0,0,0,0,1
1,VAN CORTLANDT PARK,BRONX,1146.430,ONE ACRE OR LARGER,0,0,0,0,0,1,0,1
2,ROCKAWAY BEACH AND BOARDWALK,QUEENS,1072.564,ONE ACRE OR LARGER,0,0,0,0,1,0,0,1
3,FRESHKILLS PARK,STATEN ISLAND,913.320,ONE ACRE OR LARGER,0,0,0,0,0,0,0,0
4,FLUSHING MEADOWS CORONA PARK,QUEENS,897.690,ONE ACRE OR LARGER,0,0,1,0,4,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1150,MOHEGAN TRIANGLE,BRONX,0.096,PLAYGROUND LESS THAN ONE ACRE,0,0,0,0,0,0,0,0
1151,PLAYGROUND OF THE AMERICAS,MANHATTAN,0.079,PLAYGROUND LESS THAN ONE ACRE,0,0,0,0,0,0,0,0
1152,PRIVATE WILLIAM GRAY PARK,QUEENS,0.069,PLAYGROUND LESS THAN ONE ACRE,0,0,0,0,0,0,0,0
1153,ADRIENNE'S PLAYGROUND,MANHATTAN,0.000,PLAYGROUND LESS THAN ONE ACRE,0,0,0,0,0,0,0,0
1154,TOTAL,NaN,NaN,NaN,2,3,51,63,9,37,1,166